        body {
            font-family: monospace;
            background-color: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            overflow: hidden;
        }

        #game-container {
            position: relative;
            width: 100%;
            height: 100%;
        }

        #player {
            position: absolute;
            height: 60px;
            width: 60px;
        }

        #floor {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px; /* Increased floor height to include platform height */
            background-color: #444;
        }

        #platform {
            position: absolute;
            bottom: 120px; /* Platform is part of the floor */
            left: 100px;
            width: 200px;
            height: 20px;
            background-color: #444;
        }

        #wall {
            position: absolute;
            top: 0;
            left: 300px;
            width: 25px;
            height: 100%;
            background-color: #444;
        }